<div class="form">
	<h1>Log in</h1>

	<div class="row">
	  <div class="">
	    <%= form_for(:session, url: login_path) do |f| %>

	      <%= f.label :email %><br>
	      <%= f.email_field :email, class: 'form-control' %><br>
<br>
	      <%= f.label :password %><br>
	      <%= f.password_field :password, class: 'form-control' %><br><br>
	            <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me</span><br>
      <% end %>
<br>
	      <%= f.submit "Log in", class: "btn btn-primary" %>
	    <% end %>
<br>
	    <p>New user? <%= link_to "Sign up!", "/users/new" %></p>
	  </div>
	</div>
</div>